<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.modules.system.mapper.DictDataMapper">

    <!-- 分页查询字典数据列表 -->
    <select id="selectDictDataPage" resultType="DictDataVO">
        SELECT id, dict_type, dict_label, dict_value, dict_sort, status, remark, create_time
        FROM sys_dict_data
        WHERE del_flag = '0'
          AND dict_type = #{query.dictType}
        <if test="query.dictLabel != null and query.dictLabel != ''">
            AND dict_label LIKE CONCAT('%', #{query.dictLabel}, '%')
        </if>
        <if test="query.dictValue != null and query.dictValue != ''">
            AND dict_value LIKE CONCAT('%', #{query.dictValue}, '%')
        </if>
        <if test="query.status != null and query.status != ''">
            AND status = #{query.status}
        </if>
        ORDER BY dict_sort
    </select>

    <!-- 根据字典类型查询字典数据列表 -->
    <select id="selectDictDataListByType" resultType="DictDataVO">
        SELECT id, dict_type, dict_label, dict_value, dict_sort, status, remark, create_time
        FROM sys_dict_data
        WHERE del_flag = '0'
          AND dict_type = #{dictType}
          AND status = '0'
        ORDER BY dict_sort
    </select>

</mapper>