<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.modules.system.mapper.FileMapper">

    <!-- 分页查询文件列表 -->
    <select id="selectFilePage" resultType="FileVO">
        SELECT id, bucket_type as bucket, file_name, original_filename, file_size as size, content_type, create_time as uploadTime
        FROM sys_file
        WHERE del_flag = '0'
        <if test="query.fileName != null and query.fileName != ''">
            AND file_name LIKE CONCAT('%', #{query.fileName}, '%')
        </if>
        <if test="query.bucketType != null and query.bucketType != ''">
            AND bucket_type = #{query.bucketType}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>